#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

#DEB_MAKE_CHECK_TARGET = test_seocoin
#build/seocoind::
#	$(if $(filter nocheck,$(DEB_BUILD_OPTIONS)),,src/test_seocoin)

DEB_INSTALL_EXAMPLES_seocoind += debian/examples/*
DEB_INSTALL_MANPAGES_seocoind += debian/manpages/*

%:
	dh --with bash-completion $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix USE_IPV6=1 USE_QRCODE=1 USE_UPNP=0 seocoind
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f seocoin-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake seocoin-qt.pro USE_QRCODE=1 USE_DBUS=1

override_dh_auto_test:
	#cd src; $(MAKE) -f makefile.unix test_seocoin
	#src/test_seocoin

# Ensure wrapper is set executable
binary-post-install/seocoind:
	chmod +x $(cdbs_curdestdir)usr/bin/seocoind
binary-post-install/seocoin-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/seocoin-qt
